<html>
<head>
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Populization</title>
</head>
<body>
{% load static %}
<script type="text/javascript" src="{%  static 'app.js' %}"></script>
<script type="text/javascript" src="{%  static 'lineChartNew2.js' %}"></script>
<script type="text/javascript" src="{%  static 'scatterChartNew2.js' %}"></script>

<div class="header">
    <h1>Populization</h1>
</div>

<div class="row">
    <div class="leftcolumn">
        <div class="card">
            <div class="tab">
                <button class="tablinks" onclick="changeChart(event, 'Line Chart')" id="defaultOpen">Line Chart</button>
                <button class="tablinks" onclick="changeChart(event, 'Bar Chart')">Bar Chart</button>
                <button class="tablinks" onclick="changeChart(event, 'Scatter Chart')">Scatter Chart</button>
            </div>
        </div>
        <div class="card">
            <svg width="1090" height ="700">
                <rect id="chartRect" width="1090" height="560" style="fill:none; stroke:black; stroke-width:5; opacity:0.5"></rect>
                <rect id="zoomRect" width="890" height="370" style="fill:none" transform="translate(150,110)"></rect>
                <g id="container">

                    <text id="hoveredYear" transform="translate(700,50)"></text>
                    <text id="hoveredPopulation" transform="translate(800,50)"></text>

                    <text id="xAxisText" transform="translate(550,540)">Year</text>
                    <g id="xAxis" transform="translate(150,480)"></g>

                    <text id="yAxisText" transform="translate(40,200)">Population</text>
                    <g id="yAxis" transform="translate(150,10)"></g>

                    <g id="searchLineX"></g>
                    <g id="searchLineY"></g>

                    <text id="plotText" transform="translate(450,50)">World</text>
                    <g id="plot" transform="translate(150,0)"></g>

                    <text transform="translate(0,600)">START YEAR</text>
                    <g id="Start_Slider" transform="translate(120,590)"></g>

                    <text transform="translate(0,650)">END YEAR</text>
                    <g id="End_Slider" transform="translate(120,640)"></g>
                </g>
            </svg>
        </div>
        <div class="card">
            <svg id="map" width="1090" height ="600">
                <g id="gMap" transform="translate(50,60)">

                </g>
            </svg>
        </div>
    </div>
</div>

</body>
</html>